{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}アクアlife{% endblock %}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>

<header>
    アクアlife
</header>

<main>
{% block content %}{% endblock %}
</main>

<footer>
    <nav>
        <a href="{% url 'create_record' %}">記録</a>
        <a href="{% url 'list_records' %}">閲覧</a>
    </nav>
</footer>

</body>
</html>


